body {
  margin: 0;
  padding: 20px 20px;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  cursor:default;
}

.conteiner {
  display: flex;
  width: 100%;
  background-color: azure;
  height: 600px;
  justify-content: space-around;
  align-items: center;
}

.conteiner-instances {
  width: 45%;
  height: 500px;
  border-radius: 15px;
  padding: 10px 5px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.conteiner-worklog {
  width: 45%;
  height: 500px;
  background-color:greenyellow;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid black;
}

.worklog-logs {
  background-color: burlywood;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.worklog-title,
.instances-title {
  margin: 0;
  margin-bottom: 10px;
}

.log {
  margin-bottom: 15px;
}

.log-server {
  margin: 5px 0px;
}

.instances-content {
  overflow-y: scroll;
  padding: 5px;
}

.instances-link {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  background-color: aquamarine;
}

.instance {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

.instance-status,
.instance-actions {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.status-img {
  display: inline-block;
}

.status-img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0px 5px 0px 17px;
}

.running {
  background-color: lightgreen;
}

.stopped {
  background-color: black;
}

.action-run {
  width: 1rem;
  height: 1rem;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.play {
  background-image: url('../img/play.png');
}

.pause {
  background-image: url('../img/pause.png'); 
}

.action-delete {
  width: 1rem;
  height: 1rem;
  background-image: url('../img/cross.png');
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

/* .worklog-scroll { */
  /* overflow-y: scroll; */
  /* height: 90%; */
  /* padding: 0px 5px; */
/* } */

/* .background-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .conteiner {
  margin: 20px 0px;
} */

/* .popup-input-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  width: 50%;
  padding: 10px 20px 10px;
  border-radius: 15px;
}

.popup-input-user input {
  line-height: 2;
  font-size: 20px;
  margin-top: 10px;
  width: 80%;
}

.popup-input-user button {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgb(78, 78, 78);
  cursor: pointer;
  margin-top: 10px;
}

.popup-input-user button:hover {
  background-color: rgb(220, 221, 221);
}

.form-error {
  position: absolute;
  padding: 15px 20px;
  max-width: 240px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(250, 0, 0, 0.5);
  z-index: 999;
  border: 1px solid black;
  color: red;
}

.arrow {
  position: absolute;
  bottom: calc((0.5rem + 1px) * -1);
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.arrow::after,
.arrow::before {
  position: absolute;
  display: block;
  border-style: solid;
  border-color: transparent;
  content: '';
}

.arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: black;
}

.arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: azure;
} */

/* .chat {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.chat-names {
  width: 20%;
  border-radius: 15px 0 0 15px;
  margin: 20px 0;
  min-width: 150px;
  border: 1px solid black;
  background-color: azure;
}

.chat-content {
  background-color: azure;
  min-height: 500px;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
} */

/* .chat-text { */
  /* margin-bottom: 5px; */
  /* flex-grow: 1; */
  /* resize: none; */
  /* pointer-events: none; */
  /* background-color: azure; */
  /* border: 0px; */
  /* overflow-y: scroll; */
  /* max-height: 500px; */
/* } */

/* .chat-input {
  line-height: 2;
  border-radius: 10px;
  padding: 0 10px;
}

.user-conteiner {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(212, 0, 255);
  margin-right: 5px;
  background-image: url('../img/3.jpg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: -7px 0px;
}

.curentUser {
  color: red;
}

.message {
  width: 80%;
  background-color: coral;
} */
