body {
  margin: 0;
  padding: 20px 20px;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  cursor:default;
}

.conteiner {
  display: flex;
  width: 100%;
  background-color: azure;
  height: 600px;
  justify-content: space-around;
  align-items: center;
}

.conteiner-instances {
  width: 45%;
  height: 500px;
  border-radius: 15px;
  padding: 10px 5px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.conteiner-worklog {
  width: 45%;
  height: 500px;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid black;
}

.worklog-logs {
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.worklog-title,
.instances-title {
  margin: 0;
  margin-bottom: 10px;
}

.log {
  margin-bottom: 15px;
}

.log-server {
  margin: 5px 0px;
}

.instances-content {
  overflow-y: scroll;
  padding: 5px;
}

.instances-link {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.instance {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

.instance-status,
.instance-actions {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.status-img {
  display: inline-block;
}

.status-img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0px 5px 0px 17px;
}

.running {
  background-color: lightgreen;
}

.stopped {
  background-color: black;
}

.action-run {
  width: 1rem;
  height: 1rem;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.play {
  background-image: url('../img/play.png');
}

.play:active {
  background-image: url('../img/play-press.png');
}

.pause {
  background-image: url('../img/pause.png'); 
}

.pause:active {
  background-image: url('../img/pause-press.png'); 
}

.action-delete {
  width: 1rem;
  height: 1rem;
  background-image: url('../img/cross.png');
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

.action-delete:active {
  background-image: url('../img/cross-press.png');
}
